body{
    color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
/* Barra Superior */
.navbar{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    z-index: 10;
    
}

.bar_second{
    height: 72px;
    width: 99%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 4px 16px 4px 16px; */
}

/* Iconoo logo */
/* +++++++++++++++++++++++++ */
.ico_p{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico_p img {
    width: 24px;
    height: 24px;
    padding: 9px 9px 9px 9px;
}

.ico_p a:hover {
    border-radius: 50%;
    background-color: rgb(240, 239, 239);
}

/* Botones de Inicio y Hoy */
/* +++++++++++++++++++++++++ */
.boton_inicio{
width: 70px;
height: 48px;
border-radius: 24px;
background-color: black;
display: flex;
justify-content: center;
align-items: center;

}
.boton_inicio a{
    text-decoration: none;
}
.boton{
    color: white;
   
    height: 100%;
    
}

.boton_texto{
   height: 100%;
   display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.texto_inicio{
    text-align: center;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* boton_hoy */
.boton_hoy{
    width: 60px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 24px;
}
.boton_hoy a{
    text-decoration: none;
    border-radius: 24px;
}
.boton_hoy:hover {
    background-color: rgb(240, 239, 239);
}
.texto_hoy{
    text-align: center;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 
.boton_estilo{
    width: 41.313px;
    height: 48px;
    
} */

.boton_texto_hoy{
    height: 100%;
    display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: center;
     color: black;
 }
 

/* Barra Buscador */
/* ++++++++++++++++++++++++++ */
.buscador_container{
    padding-left: 1%;
    padding-right: 1%;
    width: 80%;
    border-radius: 24px;
    background-color: rgb(240, 239, 239);
}
.buscador_estilo{
    height: 48px;
    padding: 0px 0px 0px 10px;
    display: flex;
    flex-direction: row;
}
.buscador_contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; /* repasar relative */
    height: 100%;
    width: 100%;
}
.buscador_contenido img {
    height: 16px;
    width: 16px;
    padding: 0% 1% 0% 0%;
}
.buscador_contenido input{
    height: 100%;
    border: none;
    background-color: rgb(240, 239, 239);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;

}

/* Barra Items */
/* ++++++++++++++++++++++++++++++++++++++++++ */
.items_container{
display: flex;
flex-direction: row;
align-items: center;
width:200px ;
}
.items_container img{
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 50%;
}
.items_container img:hover{
    background-color: rgb(240, 239, 239);
}
.notificaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.mensajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}

/* Galeria de imagenes */
/* ++++++++++++++++++++++++++++ */
.container_gallery{
    width: 100%;
    /* margin: 1em; */
}
.gallery{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;   
    /* column-gap: 10px; */
}
.column{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    
}
.img_1{
     position: relative;
     /* top: %; */

}


.img_1 img{
    width: 14rem;
    border-radius: 24px;
    margin: 0.5rem;
    /*  */
}

.img_1 img:hover{

    filter: brightness(70%);
}


/* Agregar boton guardar */
.text_box{
    
    transition: .3s ease;
    opacity: 0; 
    position: absolute;
    top: 3rem;
    left: 11rem;
    transform: translate(-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
 } 
 
 .save{
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 16px 16px 16px 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 24px;
    font-weight: 700;
} 

.img_1:hover .text_box{
    opacity: 1;}

/* Agregar texto perfil */

.perfil{
    
    transition: .3s ease;
    opacity: 0; 
    position: absolute;
    top: 3rem;
    right: 6.5rem;
    transform: translate(-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
 } 
 
 .perfil_texto{
    background-color:transparent;
    color: white;
    font-size: 16px;
    padding: 16px 16px 16px 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 24px;
    font-weight: 700;
} 
/* cuando pase el mouse sobre img_1  puedo modificar las propiedades de erfil */
.img_1:hover .perfil{ 
    opacity: 1;}

/*  */


.points_img img{
    width: 20px;   
    background-color: white;
    padding: 6px;
    opacity: 0.9;
}  


.upload_img img{
    width: 20px;   
    background-color: white;
    padding: 6px;
    opacity: 0.9;
}


/* agregar boton upload dentro de imagen  */

.upload_box{
    
    transition: .3s ease; 
    opacity: 0;
     position: absolute;
    bottom: 0.08rem;
    left: 10.5rem;
    transform: translate(-50%, -50%);
    -ms-transform: (-50%, -50%);
   
}

.img_1:hover .upload_box{
    opacity: 1;
}

.upload_box img{
    width: 20px;   
    background-color: white;
    padding: 6px;
    opacity: 0.9;
} 

/* agregar boton puntos dentro de imagen */ 
.points_box{
    
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    bottom: 0.08rem;
    left: 13rem;
    transform: translate(-50%, -50%);
    -ms-transform: (-50%, -50%);
   
}

.img_1:hover .points_box{
    opacity: 1;
}

.points_box img{
    width: 20px;   
    background-color: white;
    padding: 6px;
    opacity: 0.9;
} 

/* ++++++++++++++++++++++++++++++++++++++++++ */
/* Añadiendo media queries */
@media only screen and (min-width: 360px){
    
    .navbar{
        width: 100%;
    }
  .boton_hoy{
      display: none;
     }
    
    


@media only screen and (min-width: 600px){
    

    .navbar{
        width: 100%;
    }
    .boton_hoy{
       display: inline;
    }
    
.gallery{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;   
    /* column-gap: 10px; */
}

}

@media only screen and (min-width: 1024px){
   
    .navbar{
        width: 100%;
    }

}

@media only screen and (min-width: 1200px){
   
    .navbar{
        width: 100%;
    }
    .gallery{
        margin: 0.5em;
    }
}