body{
    color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
/* Barra Superior */
.navbar{
height: 80px;
width: 100%;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.bar_second{
    height: 72px;
    width: 99%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

   /* Iconoo logo */
}
.ico_p{
width: 5%;
/* height: 48px; */
display: flex;
justify-content: center;
align-items: center;
}

.ico_p img {
    width: 24px;
    height: 24px;
    padding: 0px 8px 0px 8px;
}

/* Botones de Inicio y Hoy */
/* +++++++++++++++++++++++++ */
.boton_inicio{
width: 7.5%;
height: 48px;
border-radius: 24px;
background-color: black;
display: flex;
justify-content: center;
align-items: center;

}
.boton_inicio a{
    text-decoration: none;
}
.boton{
    color: white;
    width: 41.313px;
    height: 100%;
    
}

.boton_texto{
   height: 100%;
   display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.texto{
    text-align: center;
    font-weight: 700;
}

/* boton_hoy */
.boton_hoy{
    width: 7.5%;
    height: 48px;
    
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;  
}
.boton_hoy a{
    text-decoration: none;
    border-radius: 24px;
    
}

.boton_hoy a:hover {
    background-color: lightgrey;
  }

.boton_estilo{
    color: white;
    width: 41.313px;
    height: 48px;
    
}

.boton_texto_hoy{
    height: 100%;
    display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: center;
     color: black;
 }
 

/* Barra Buscador */
/* ++++++++++++++++++++++++++ */
.buscador_container{
padding-left: 8px;
padding-right: 8px;
width: 59%;

}
.buscador_estilo{
height: 48px;
padding: 0px 0px 0px 16px;
display: flex;
flex-direction: row;
}
.buscador_contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; /* repasar relative */
    height: 100%;
}
.buscador_contenido img {
    height: 16px;
    width: 16px;
    padding: 0px 6px 0px 0px;
}
.buscador_contenido input{
    height: 100%;
    border: none;
}

/* Barra Items */
/* ++++++++++++++++++++++++++++++++++++++++++ */
.items_container{
display: flex;
flex-direction: row;
align-items: center;
width: 16%;
}
.items_container img{
    height: 24px;
    width: 24px;
}
.notificaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.mensajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}

/* CSS GRID */
.container_grid{
    width: 100%;
    
}
.gallery{
    display: grid;
    /* grid-template-columns: repeat(15);
    grid-template-rows: repeat(15);
    column-gap: 0.01rem;
    row-gap: 0.01rem; */
    grid-template-columns: repeat(autofill, minmax(100px,1fr));
    grid-template-rows: repeat(autofill,minmax(100px));
    gap: 1rem;

}
.gallery_img{
    width: 10rem;
    /* height: 10em; */
    object-fit:fill;
    display: block;
    border-radius: 24px;
}
/* 
.img_1 {
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;    

}

.img_2 {
    grid-column-start:3 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.img_3 {
    grid-column-start:5 ;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.img_4 {
    grid-column-start:7 ;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.img_5 {
    grid-column-start:9 ;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.img_6 {
    grid-column-start:11 ;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.img_7 {
    grid-column-start:13 ;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.img_8 {
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;    
}


.img_9 {
    grid-column-start:3 ;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;    
}

.img_10 {
    grid-column-start:5 ;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;    
}

.img_11 {
    grid-column-start:7 ;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;    
}


.img_12 {
    grid-column-start:9 ;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 5;    
}


.img_13 {
    grid-column-start:11 ;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;    
}
.img_14 {
    grid-column-start:13 ;
    grid-column-end: 15;
    grid-row-start: 3;
    grid-row-end: 5;    
} */

@media only screen and (min-width: 360px){
    body{
        background-color: blue;
    }
    .navbar{
        width: 100%;
    }
/*     
    .gallery{
        width: 100%;
    } */
}
@media only screen and (min-width: 720px){
    body{
        background-color:blueviolet;
    }
    .navbar{
        width: 100%;
    }
/*     
    .container_grid{
        width: 80%;
    } */
}

@media only screen and (min-width: 1024px){
    body{
        background-color:coral;
    }
    .navbar{
        width: 100%;
    }
}