body{
    background-color: beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/*If you do not want to apply opacity to child elements, use RGBA color values.*/
.navbar{
    background-color: rgba(0,128,0, 0.1);
    display: flex;
    justify-content: space-between;   
}

.navbar_logo{
    margin: 15px;
}
.presentation{
    display: flex;
    justify-content: center;
    background-color: rgba(0,128,0, 0.1);
    margin: 150px;
}
.presentation_des{
margin: 50px;
}

.presentation img{
    width: 400px;
}

.links{
    display: flex;
    justify-content: flex-end;
}
.links li{
    margin: 15px;
    list-style-type: none;
    text-decoration: none;
}
.footer_sty{
    background-color: rgba(0,128,0, 0.1);
}
.footer_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.footer_links{
    display: flex;
    justify-content: flex-end;
}
.footer_links li{
    margin: 15px;
    list-style-type: none;

}